{% load static %}

<!DOCTYPE html>
<html lang="ko">
   <head>
		<title>Hello</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css'%}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css'%}" /></noscript>
	</head>



		<body class="homepage is-preload">
			<div id="page-wrapper">
	
				<!-- Header -->
					<div id="header">
	
						{% block content %}
						{% endblock %}
	
							
	
					</div>
	
	
			</div>
	
			<!-- Scripts -->
				<script src="{% static 'assets/js/jquery.min.js'%}"></script>
				<script src="{% static 'assets/js/jquery.dropotron.min.js'%}"></script>
				<script src="{% static 'assets/js/jquery.scrolly.min.js'%}"></script>
				<script src="{% static 'assets/js/jquery.scrollex.min.js'%}"></script>
				<script src="{% static 'assets/js/browser.min.js'%}"></script>
				<script src="{% static 'assets/js/breakpoints.min.js'%}"></script>
				<script src="{% static 'assets/js/util.js'%}"></script>
				<script src="{% static 'assets/js/main.js'%}"></script>
	
		</body>
</html>