{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="homepage is-preload">
	<div id="page-wrapper">

		<!-- Header -->
			<div id="header">
					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="/" id="logo">Helios</a></h1>
							</header>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<!-- <li>
									<a href="#">Dropdown</a>
									<ul>
										<li><a href="#">Lorem ipsum dolor</a></li>
										<li><a href="#">Magna phasellus</a></li>
										<li><a href="#">Etiam dolore nisl</a></li>
										<li>
											<a href="#">And a submenu &hellip;</a>
											<ul>
												<li><a href="#">Lorem ipsum dolor</a></li>
												<li><a href="#">Phasellus consequat</a></li>
												<li><a href="#">Magna phasellus</a></li>
												<li><a href="#">Etiam dolore nisl</a></li>
											</ul>
										</li>
										<li><a href="#">Veroeros feugiat</a></li>
									</ul>
								</li> -->
								<li><a href="mainpage">Main</a></li>
								<li><a href="result">Result</a></li>
								<li><a href="readme">README</a></li>
								<li><a href="developer" style="color: #DF7366;">Developer</a></li>
							</ul>
						</nav>

				</div>

	</div>



</body>

{% endblock %}