{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- Inner -->
<div class="inner" style="border-radius: 15px;width: 1000px;height: 550px;">
	<header>
		<br>
		<br>
		<div class="boxItem row" >
			<div class="col-3" >
				<div class="card" id="developer_images">
					<img src="{% static 'images/developer/1.png' %}" alt="Kang Chung Woo" class="card-img-top" />
					<div class="card-body">
						Kang Chung Woo
					</div>
				</div>
			</div>
			<div class="col-3" id="developer_images">
				<div class="card">
					<img src="{% static 'images/developer/3.jpg' %}" alt="Lee Jeong Sueng" class="card-img-top" />
					<div class="card-body">
						Lee Jeong Sueng
					</div>
				</div>
			</div>
			<div class="col-3" id="developer_images">
				<div class="card">
					<img src="{% static 'images/developer/4.jpg' %}" alt="Jeong Ji yeon" class="card-img-top" />
					<div class="card-body">
						Jeong Ji yeon
					</div>
				</div>
			</div>
			<div class="col-3" id="developer_images">
				<div class="card">
					<img src="{% static 'images/developer/5.jpg' %}" alt="Kim Soo Jeong" class="card-img-top" />
					<div class="card-body">
						Kim Soo Jeong
					</div>
				</div>
			</div>
		</div>
	</header>
</div>

<!-- Nav -->
	<nav id="nav">
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/main">Main</a></li>
			<!-- <li><a href="/result">Result</a></li> -->
			<li><a href="/readme">README</a></li>
			<li><a href="/developer" style="color: #DF7366;">Developer</a></li>
		</ul>
	</nav>

	<!-- Copyright -->
	<div class="copyright">
		<ul class="menu">
		   <li>&copy; Untitled. All rights reserved.</li><li>Design: Chcaine</li>
		</ul>
	</div>

{% endblock %}