{% extends 'base.html' %}
{% block content %}

<!-- Inner -->
<div class="inner" id="move">
	<footer>
			<h1><a href="main" id="logo">Image Style Transfer &nbsp;<i class="bi bi-chevron-double-right"></i></a></h1>
			<br>
			<p style="text-align:center;"></p>
			<br>
			<hr />
			<br>
			<br>
			<h1><a href="facedetector" id="logo">Face detector &nbsp; <i class="bi bi-chevron-double-right"></i></a></h1>
			<br>
			<p style="text-align:center;"></p>
			<br>
			<h1></h1>

		<!-- <a href="facedetector" class="button circled scrolly">Start</a> -->
	</footer>
</div>

<!-- Nav -->

	<nav id="nav">
		<ul>
			<li><a href="home" style="color: #DF7366;">Home</a></li>
			<li><a href="main">Main</a></li>
			<li><a href="facedetector">facedetect</a></li>
			<li><a href="readme">README</a></li>
			<li><a href="developer">Developer</a></li>
		</ul>
	</nav>



{% endblock %}