/* 파일 선택 버튼 css*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #f5f8ff;
}

.inner.container {
    /* background-color: #ffffff; */
    width:60%;
    min-width: 450px;
    position: relative;
    margin:50px auto;
    padding: 50px 20px 20px 50px;
    border-radius: 7px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.05);
}

input[type="file"] {
    display:none;
}

label {
    display: block;
    position: relative;
    background-color: #DF7366;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    width:29em;
    padding: 18px 0;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
}

.container p {
    text-align: center;
    margin: 20px 0 30px 0;
}

#images {
    width:90%;
    position: relative;
    border: 1px solid black;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

figure {
    width: 100%
}

img {
    width: 100%
}

figcaption {
    text-align: center;
    font-size: 2.4vmin;
    margin-top: 0.5vmin;
}
/* 
#file-input {
    align-items: center;
} */

#upload-box {
    border-right-style : double;
    border-right-color: purple;
    border-right-width: 3px;
    height: 630px;
}