/* 파일 선택 버튼 css*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #f5f8ff;
}

.inner.container {
    /* background-color: #ffffff; */
    width:60%;
    min-width: 450px;
    position: relative;
    margin:50px auto;
    padding: 50px 20px 20px 50px;
    border-radius: 7px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.05);
}

input[type="file"] {
    display:none;
}

label {
    display: block;
    position: relative;
    background-color: #DF7366;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    width:22em;
    padding: 18px 0;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
}


.container p {
    text-align: center;
    margin: 20px 0 30px 0;
}

#images {
    width:90%;
    position: relative;
    border: 1px solid black;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

#st_images {
    width:100%;
    height: 100%;
    position: relative;
    border: 1px solid black;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

figure {
    width: 100%
}

img {
    width: 100%
}

figcaption {
    text-align: center;
    font-size: 2.4vmin;
    margin-top: 0.5vmin;
}
/* 
#file-input {
    align-items: center;
} */

#upload-box {
    border-right-style : double;
    border-right-color: #5b5b5b;
    border-right-width: 3px;
    height: 630px;
}







/* loading practice */



/* 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */
/*로딩 애니메이션을 브라우저의 정 가운데에 놓기 위해 body에 가운데로 올 수 있게 설정을 해주었다*/

.loading span{
    width: 20px;height: 20px; /*span자체에 w와 h값을 준 후 radius값을 주어 원모양 3개를 만들어 주었다*/
    background: gray;
    display: inline-block; /*span은 inline이다 inline은 크기값을 지정해 줄 수 없기 때문에 inline-block으로 설정해준다 */
    border-radius: 50%;
    animation: loading 1s linear infinite; /*원들이 움직일 수 있게 animation을 설정해 주었다. 1초(loading 1s)동안
                                             keyframes간에 부드럽게 넘어갈 수 있게(linear) 
                                             무한(infinite)으로 움직이게 설정해준다*/
}

.loading span:nth-child(1){
    animation-delay: 0s;  /*차례대로 움직일 수 있게 delay를 설정해준다. 첫번째 원은 delay없이 바로 움직인다*/
    background: rgb(4, 71, 4);
}
.loading span:nth-child(2){
    animation-delay: 0.2s; /*두번째 원은 delay를 0.2초 주어 0.2초 후 움직인다*/
    background: rgb(24, 180, 24);
}
.loading span:nth-child(3){
    animation-delay: 0.4s;  /*세번째 원은 delay를 0.4초 주어 0.4초 후 움직인다*/
    background: rgb(174, 236, 174);
}

@keyframes loading{   /**/
    0%{opacity: 0; transform: scale(0.5);}  /*animation이 0%움직였을때 원들의 크기를 0.5 크게 지정해준다*/ 
    50%{opacity:1; transform: scale(1.2);}  /*animation이 50%%움직였을때 원들의 크기를 1.2 크게 지정해준다*/ 
    100%{opacity: 0; transform: scale(0.5);}  /*animation이 100%움직였을때 원들의 크기를 0.5 로 다시 0%때와 같게 지정해준다*/ 
}


/* label {
    display: block;
    position: relative;
    background-color: #DF7366;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    width:22em;
    padding: 18px 0;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
} */

/* selectbox css */
/* .selectBox {
    display: block;
    position: relative;
    background-color: rgba(255, 255, 255, 0.301);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    width: 22em;
    height: 35px;
    padding: 18px 0;
    margin: auto;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .selectBox .select {
    width: inherit;
    height: inherit;
    background: transparent;
    border: 0 none;
    outline: 0 none;
    padding: 0 5px;
    position: relative;
    z-index: 3;
  }
  .selectBox .select option:hover {
    background: lightcoral;
    color: #fff;
    padding: 3px 0;
    font-size: 16px;
  }
  .selectBox .icoArrow {
    position: absolute; 
    top: 0; 
    right: 0; 
    z-index: 1; 
    width: 35px; 
    height: inherit;
    border-left: 2px solid lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .selectBox .icoArrow img {
    width: 50%;
    transition: .3s;
  }
  
  .selectBox .select:focus + .icoArrow img {
    transform: rotate(180deg);
  } */



.selectBox {
background: rgba(255, 255, 255, 0.975);
/* padding: 1em 1.25em 1em 1.25em; */
line-height: 1em;
width: 25em;
height: auto;
text-align: left;
border-radius: 0.5em;
box-shadow: 0 0.15em 0.25em 0 rgba(0, 0, 0, 0.25);
min-width: 12em;
list-style: none;
}
/* {
    display: block;
    position: relative;
    background-color: rgba(255, 255, 255, 0.301);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    width: 22em;
    height: 35px;
    padding: 18px 0;
    margin: auto;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  } */

.selectBox .select {
    border-top: solid 1px rgba(128, 128, 128, 0.2);
    color: #5b5b5b;
    padding-left: 0;
}

    .selectBox .select:first-child {
        border-top: 0;
    }

    .selectBox .select:hover {
        color: #ef8376;
    }

    .selectBox .select a, .selectBox .select span {
        display: block;
        border: 0;
        padding: 0.5em 0 0.5em 0;
        -moz-transition: color 0.35s ease-in-out;
        -webkit-transition: color 0.35s ease-in-out;
        -ms-transition: color 0.35s ease-in-out;
        transition: color 0.35s ease-in-out;
    }

.dropotron.level-0 {
    margin-top: 2em;
    font-size: 0.9em;
}

    .dropotron.level-0:before {
        content: '';
        position: absolute;
        left: 50%;
        top: -0.7em;
        margin-left: -0.75em;
        border-bottom: solid 0.75em rgba(255, 255, 255, 0.975);
        border-left: solid 0.75em rgba(64, 64, 64, 0);
        border-right: solid 0.75em rgba(64, 64, 64, 0);
    }